# Firebase Configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=

# Razorpay Configuration
VITE_RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# Cashfree Configuration
VITE_CASHFREE_APP_ID=
CASHFREE_SECRET_KEY=
VITE_CASHFREE_ENV=SANDBOX # or PRODUCTION
